*
{
	margin: 0;
	padding: 0;
}

html, body
{
	width: 100%;
	height: 100%;
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('bg.png');
	background-size: cover;
	font-family: 'Iosevka Web', monospace;
	background-color: #001122;
	color: #eeedf0;
}

x-container
{
	width: 1440px;
	height: 95vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

x-banner
{
	display: flex;
	width: 100%;
	height: 150px;
	justify-content: center;
	align-items: center;
}

x-tech-stack
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100px;
	gap: 10px;
}

x-title
{
	font-size: 24pt;
	font-weight: 700;
}

x-icons
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 25px;
	user-select: none;
}

x-about-me
{
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: column;
	width: 70%;
}

x-text
{
	font-size: 16pt;
}

x-projects
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

x-projects-container
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

x-project
{
	font-size: 16pt;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 40px;
}

x-project-link
{
	font-weight: 700;
	letter-spacing: 2px;
	user-select: none;
	transition: 0.3s ease;
}
x-project-link:hover
{
	color: #8080ff;
	cursor: pointer;
}

.lower
{
	opacity: 0.3;
	font-style: italic;
	font-size: 12pt;
	text-align: right;
}

img
{
	opacity: 0;
}

@keyframes img_onload
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}