*
{
	margin: 0;
	padding: 0;
}

html, body
{
	width: 100%;
	height: 100%;
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('bg.png');
	background-size: cover;
	font-family: 'Iosevka Web', monospace;
	background-color: #001122;
	color: #eeedf0;
}

x-container
{
	width: 1440px;
	height: 95vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

x-banner
{
	display: flex;
	width: 100%;
	height: 150px;
	justify-content: center;
	align-items: center;
}

x-tech-stack
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100px;
	gap: 10px;
}

x-title
{
	font-size: 24pt;
	font-weight: 700;
}

x-icons
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 25px;
}

x-about-me
{
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: column;
}

x-text
{
	font-size: 16pt;
}

x-projects-container
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

x-project
{
	font-size: 16pt;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}