html
{
	width: 100%;
	height: 100%;
}

body
{
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	background: #11100f;
	background-image: radial-gradient(#999 4%, transparent 0);
	background-size: 35px 35px;
	color: #eeedf0;
	font-size: 1.0em;
	min-height: 100%;
	width: 100%;
	height: 100%;
	margin: 0;
	font-weight: 500;
	/* -webkit-user-select: none;
	user-select: none; */
}

.container
{
	width: 1500px;
	height: 900px;
	/* background-color: #00ffff; */
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/*=== HEADER ===*/
header.header
{
	font-family: 'Montserrat', sans-serif;
	font-size: 3.5em;
	line-height: 100px;
	text-align: center;
	text-shadow: 0px 0px 5px rgba(66, 68, 90, 1);
}
header.header:hover
{
	cursor: pointer;
}
.header-subtitle
{
	font-family: 'Nothing You Could Do', cursive;
	font-size: 0.5em;
	position: absolute;
	transform: translate(160px, -80px) rotate(-7deg);
	color: #0353a4;
}

/*=== CONTENT ===*/
.content
{
	display: flex;
	/* background-color: dodgerblue; */
	height: 740px;
}

/* ASIDE */
aside.aside
{
	/* background-color: #f0ff0f; */
	flex: 15%;
	padding: 7px 9px;
	display: block;
}
.aside-link
{
	/* line-height: 35px; */
	margin-bottom: 15px;
	transition: 0.15s ease-in-out;
}
.aside-link:hover
{
	/* line-height: 35px; */
	margin-bottom: 15px;
	font-size: 1.1em;
	cursor: pointer;
	font-weight: 700;
	text-shadow: 0px 0px 15px rgba(66, 68, 90, 1);
	letter-spacing: 2px;
}

/* MAIN */
main.main
{
	/* background-color: #0f00f0; */
	flex: 85%;
	padding: 7px 9px;
	text-align: justify;
	display: block;
}
#main
{
	display: block;
}
.main-subcontainer
{
	flex: 85%;
	padding: 7px 9px;
	text-align: justify;
}
#education-subcontainer, #projects-subcontainer, #skills-subcontainer, #esports-subcontainer, #links-subcontainer
{
	display: none;
}

/*=== FOOTER ===*/
footer.footer
{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	line-height: 60px;
	text-align: center;
	text-shadow: 0px 0px 5px rgba(66, 68, 90, 1);
	/* background-color: #f0ff0f; */
}
.link
{
	transition: 0.15s ease-in-out;
}
.link:hover
{
	cursor: pointer;
	font-weight: 700;
	text-shadow: 0px 0px 15px rgba(66, 68, 90, 1);
	letter-spacing: 1px;
}



/* table
{
	border-collapse: collapse;
} */

table td, table th
{
	text-align: justify;
	padding: 0 15px;
	/* background-color: #0353a4; */
	width: 200px;
}