*
{
	margin: 0;
	padding: 0;
	font-family: 'Geist', sans-serif;
}

html
{
	scroll-behavior: smooth;
}

.container
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 50px;
	color: #1e2023;
	background-color: #eeedf0;
}

/* HEADER */
header
{
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	background-color: #4361ee;
	box-shadow: 0px 0px 8px 0px rgba(66, 68, 90, 0.5);
	height: 100px;
	/* position: sticky;
	top: 0; */
	color: #edf2f4;
}

.logo
{
	flex: 50%;
	margin-left: 25px;
	font-size: 24pt;
	font-family: 'DM Sans', sans-serif;
	font-weight: 700;
}

nav
{
	flex: 50%;
	height: 40%;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

nav-item
{
	background-color: #edf2f4;
	color: #2b2d42;
	user-select: none;
	width: 150px;
	height: 100%;
	border-radius: 8px;
	font-size: 14pt;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	border: 2px solid #edf2f4;
	transition: 0.3s ease;
}

nav-item:hover
{
	cursor: pointer;
	border-radius: 12px;
	background-color: #2b2d4262;
	color: #edf2f4;
	border: 2px dotted #edf2f4;
	letter-spacing: 1px;
}

/* SUMMARY BANNER */
summary-banner
{
	color: #eeedf0;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 700px;
	gap: 10px;
	background: url('https://zwolnienizteorii.pl/sfbuild/images/wwi/images/section3_1.b9ac65a3.jpg') #2b2d42e1;
	background-size: 100%;
	background-blend-mode: multiply;
	box-shadow: 0px 0px 8px 0px rgba(66, 68, 90, 0.5);
	border-radius: 12px;
}

.summary-header
{
	font-weight: 700;
	font-family: 'DM Sans', sans-serif;
	font-size: 48pt;
	text-shadow: 1px 1px 0px rgba(66, 68, 90, 0.5);
}

summary-banner span
{
	font-size: 16pt;
	text-align: center;
}

.button
{
	background-color: #edf2f4;
	color: #2b2d42;
	user-select: none;
	width: 330px;
	height: 50px;
	border-radius: 8px;
	font-size: 14pt;
	font-weight: 500;
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #edf2f4;
	transition: 0.3s ease;
}

.button:hover
{
	cursor: pointer;
	border-radius: 12px;
	background-color: #2b2d42cb;
	color: #edf2f4;
	border: 2px dotted #edf2f4;
	letter-spacing: 1px;
}

/* MAIN */
main
{
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #edf2f4;
	box-shadow: 0px 0px 8px 0px rgba(66, 68, 90, 0.25);
	border-radius: 12px;
}

section
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 14pt;
	margin: 15px;
	padding: 50px;
	/* background-color: blue; */
	width: calc(100% - 100px);
	line-height: 32px;
}

.section-header
{
	font-weight: 700;
	font-family: 'DM Sans', sans-serif;
	color: #4361ee;
	font-size: 24pt;
	text-shadow: 1px 1px 0px rgba(66, 68, 90, 0.5);
	margin-bottom: 25px;
}

section span
{
	text-align: justify;
}

/* FOOTER */
footer
{
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

footer span
{
	text-align: center;
	opacity: 0.3;
}