@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Geist:wght@100..900&display=swap');

:root
{
	--main-height: calc(100vh - 40px);
	--card-width: calc(100vw / 5);
	--gap: 10px;

	--color-primary: #6C9BCF;
	--color-danger: #FF0060;
	--color-success: #1B9C85;
	--color-warning: #F7D060;
	--color-white: #fff;
	--color-info-dark: #7d8da1;
	--color-dark: #363949;
	--color-light: rgba(132, 139, 200, 0.116);
	--color-light-d: rgba(214, 215, 228, 0.541);
	--color-dark-variant: #677483;
	--color-background: #f6f6f9;

	--card-border-thickness: 2px;
	--card-border-radius: 2rem;
	--border-radius-1: 0.4rem;
	--border-radius-2: 1.2rem;

	--card-padding: 1.8rem;
	--padding-1: 1.2rem;

	--box-shadow: 0 2rem 3rem var(--color-light);
}

body
{
	font-family: 'DM Sans', sans-serif;
	font-size: 14pt;
	margin: 0;
	user-select: none;
	background-color: var(--color-background);
	background-image: url('full-bloom.webp');
	/* background-attachment: fixed; */
}

.container
{
	width: 100vw;
	/* background-color: var(--color-background); */
	color: var(--color-dark);
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.3s ease all;
}

#header
{
	position: sticky;
	top: 5px;
	z-index: 10;
	width: 70%;
}

.header
{
	padding: 10px 0;
	background-color: var(--color-light);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	letter-spacing: 2px;
	/* box-shadow: 0px 0px 8px 0px #a2bffe8f; */
	box-shadow: var(--box-shadow);
	backdrop-filter: blur(16px);
	border-radius: var(--border-radius-2);
	border: 2px solid var(--color-light);
}

.header span
{
	flex: 1;
	text-align: center;
	padding: 0 10px;
}

.btn-c
{
	text-align: left;
	display: flex;
	gap: calc(var(--gap) / 2);
}

#lastupdated
{
	font-family: 'Geist', sans-serif;
	font-weight: 500;
	text-align: right;
	opacity: 0.5;
	color: var(--color-dark-variant);
}

.alarm
{
	padding: 5px 0;
	background-color: #f7f7f7;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	letter-spacing: 2px;
	animation: alarm 1s infinite;
}

.alarm span
{
	flex: 1;
	text-align: center;
	padding: 0 10px;
}

.buttons
{
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.buttons button
{
	width: 100%;
	font-size: 120%;
}

#result
{
	text-align: center;
}

.main
{
	display: flex;
	width: 100vw;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	gap: var(--gap);
	transition: 0.3s ease all;
}

.row
{
	display: flex;
	flex-direction: row;
	gap: var(--gap);
	transition: 0.3s ease all;
}

.outer-row-box
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	gap: var(--gap);
}

.inner-column
{
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	gap: var(--gap);
}

.card
{
	background-color: var(--color-light-d);
	border-radius: var(--border-radius-2);
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	box-shadow: var(--box-shadow);
	/* backdrop-filter: blur(3px); */
	border: var(--card-border-thickness) solid var(--color-light);
	opacity: 0;
	animation: card_in 1s ease forwards;
	animation-delay: 1.5s;
}

.card-1x1
{
	width: var(--card-width);
	height: var(--card-width);
}

.card-2x1
{
	width: calc(var(--card-width) * 2 + var(--gap) + (var(--card-border-thickness) * 2));
	height: var(--card-width);
}
.card-1x2
{
	width: var(--card-width);
	height: calc(var(--card-width) * 2 + var(--gap) + (var(--card-border-thickness) * 2));
}

.card-header
{
	font-weight: 600;
	width: 100%;
	/* height: 25%; */
	height: 64px;
	padding: 6px 16px;
    font-size: 150%;
	display: flex;
	background-color: var(--color-dark);
	color: var(--color-background);
	justify-content: flex-start;
	align-items: center;
	transition: 0.3s ease all;
	box-sizing: border-box;
}

.card-content-wrapper
{
	display: flex;
	flex-direction: row;
	width: 100%;
	/* height: 75%; */
	/* gap: var(--gap); */
	/* flex-shrink: 1; */
	transition: 0.3s ease all;
	box-sizing: border-box;
	padding: 16px;
}

.card-1x1 .card-content-wrapper
{
	height: calc(var(--card-width) - 64px);
}
.card-2x1 .card-content-wrapper
{
	height: calc(var(--card-width) - 64px);
}
.card-1x2 .card-content-wrapper
{
	height: calc(var(--card-width) * 2 + var(--gap) - 64px);
}

.card-content
{
	flex: 1;
	height: 100%;
	display: flex;
    font-size: 160%;
	font-family: 'Geist', sans-serif;
	justify-content: center;
    flex-direction: column;
	align-items: center;
	transition: 0.3s ease all;
}


.switch
{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	transform: translateY(7px);
}

.switch input
{ 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider
{
	position: absolute;
	cursor: default;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #929aab;
	border-radius: 34px;
	transition: .4s;
}

.slider:before
{
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	border-radius: 50%;
	background-color: white;
	transition: .4s;
}

input:checked + .slider 
{
	background-color: #2196F3;
}

input:focus + .slider
{
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before
{
	transform: translateX(26px);
}

.blue
{
	color: #a2bffe;
}

.yellow
{
	color: #fff44f;
}

.red
{
	color: #ff2014;
}

.green
{
	color: #80ef80;
}

.orange
{
	color: #ffa447;
}

sub, sup
{
	font-size: 50%;
}

table
{
	border-collapse: collapse;
}

td
{
	padding: 0 5px;
}

td:nth-child(1)
{
	text-align: left;
}

/* THINGSPEAK MULTICHANNEL SPECIFIC STYLES BEGIN */
#chart-container
{
	height: 660px;
	backdrop-filter: blur(4px);
	width: 90%;
}
/* THINGSPEAK MULTICHANNEL SPECIFIC STYLES END */

.chart-modal
{
	display: block;
	visibility: hidden;
	position: fixed;
	z-index: 19;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.chart-modal-content
{
	background-color: var(--color-background);
	margin: auto;
	padding: 20px;
	border-radius: 4px;
	width: 80%;
}

.close
{
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus
{
	color: #393e46;
	text-decoration: none;
	cursor: pointer;
}

canvas
{
	width: 100%;
	height: 100%;
}

button
{
	border: 1px solid var(--color-dark);
	padding: 4px 12px;
	box-sizing: border-box;
	background-color: var(--color-background);
	border-radius: var(--border-radius-1);
	color: var(--color-dark);
	transition: 0.3s ease;
	cursor: pointer;
}

button:hover
{
	color: var(--color-background);
	background-color: var(--color-dark);
	border-radius: var(--border-radius-2);
}

.clickable
{
	cursor: pointer;
}

.material-symbols-rounded
{
	font-size: 120%;
	transform: translateY(5px);
}

#loader
{
	background-color: var(--color-background);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2vw;
}

.loader
{
	width: 36px;
	height: 36px;
	border: 2px solid var(--color-dark);
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: loader 1s linear infinite;
}

@keyframes card_in
{
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes loader
{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@media (max-width: 1500px)
{
	#lastupdated
	{
		font-size: 70%;
	}
	.card-header
	{
		font-size: 140%;
		height: 56px;
	}
	.card-content
	{
		font-size: 120%;
	}
}
@media (max-width: 1200px)
{
	:root
	{
		--gap: 4px;
	}
	#header
	{
		width: 90%;
	}
	.header span
	{
		flex: 1;
		text-align: center;
		font-size: 80%;
		padding: 0 10px;
	}
	button
	{
		padding: 2px 4px;
		font-size: 80%;
	}
	#lastupdated
	{
		font-size: 60%;
	}
	.card-header
	{
		font-size: 110%;
		height: 48px;
	}
	.card-content
	{
		font-size: 100%;
	}
	.switch
	{
		transform: scale(0.7);
	}
}
@media (max-width: 1000px)
{
	.card-header
	{
		font-size: 100%;
	}
	.card-content
	{
		font-size: 95%;
	}
}

@media (max-width: 800px)
{
	.container
	{
		height: 100%;
	}
	#header
	{
		width: 98%;
	}
	#lastupdated
	{
		font-size: 50%;
	}
	.main
	{
		width: 100%;
	}
	.row
	{
		display: flex;
		flex-direction: column;
	}
	.card-1x1
	{
		width: calc((100vw / 2) - var(--gap));
		height: calc((100vw / 2) - var(--gap));
	}
	.card-2x1
	{
		width: calc((100vw) - var(--gap) + (var(--card-border-thickness) * 2));
		height: calc((100vw / 2) - var(--gap));
	}
	.card-1x2
	{
		width: calc((100vw / 2) - var(--gap));
		height: calc((100vw) - var(--gap) + (var(--card-border-thickness) * 2));
	}
	.card-header
	{
		font-size: 100%;
		height: 48px;
		min-height: 48px;
	}
	.card-content-wrapper
	{
		height: calc((100vw) - 48px);
	}
	.card-1x1 .card-content-wrapper
	{
		height: calc((100vw) - 48px);
	}
	.card-2x1 .card-content-wrapper
	{
		height: calc((100vw) - 48px);
	}
	.card-1x2 .card-header
	{
		height: 48px;
	}
	.card-1x2 .card-content-wrapper
	{
		height: calc((100vw) - 48px);
	}
	.card-content
	{
		font-size: 100%;
	}
	.switch
	{
		transform: scale(0.6);
	}
	#chart-container
	{
		width: 100%;
	}
}

@keyframes alarm
{
	0%
	{
		background-color: #ff2014;
		color: #393e46;
	}
	50%
	{
		color: #ff2014;
		background-color: #393e46;
	}
	100%
	{
		background-color: #ff2014;
		color: #393e46;
	}
}
