@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Geist:wght@100..900&display=swap');

:root
{
	--main-height: calc(100vh - 40px);
	--card-width: calc(100vw / 4.75);
	--gap: 10px;
}

body
{
	font-family: 'DM Sans', sans-serif;
	font-size: 14pt;
	margin: 0;
}

.container
{
	width: 100vw;
	background-color: #eeeeee;
	color: #393e46;
	display: flex;
	flex-direction: column;
	transition: 0.3s ease all;
}

#header
{
	position: sticky;
	top: 0;
	z-index: 10;
}

.header
{
	padding: 5px 0;
	background-color: #f7f7f7;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	letter-spacing: 2px;
	box-shadow: 0px 0px 8px 0px #a2bffe8f;
}

.header span
{
	flex: 1;
	text-align: center;
	padding: 0 10px;
}

.btn-c
{
	text-align: left;
}

#lastupdated
{
	font-family: 'Geist', sans-serif;
	font-weight: 500;
	text-align: right;
	opacity: 0.5;
}

.alarm
{
	padding: 5px 0;
	background-color: #f7f7f7;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	letter-spacing: 2px;
	animation: alarm 1s infinite;
}

.alarm span
{
	flex: 1;
	text-align: center;
	padding: 0 10px;
}

.buttons
{
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.buttons button
{
	width: 100%;
	font-size: 120%;
}

#result
{
	text-align: center;
}

.main
{
	display: flex;
	width: 100vw;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	gap: var(--gap);
	transition: 0.3s ease all;
}

.row
{
	display: flex;
	flex-direction: row;
	gap: var(--gap);
	transition: 0.3s ease all;
}

.outer-row-box
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	gap: var(--gap);
}

.inner-column
{
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	gap: var(--gap);
}

.card
{
	background-color: #f7f7f7;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card-1x1
{
	width: var(--card-width);
	height: var(--card-width);
}

.card-2x1
{
	width: calc(var(--card-width) * 2 + var(--gap));
	height: var(--card-width);
}
.card-1x2
{
	width: var(--card-width);
	height: calc(var(--card-width) * 2 + var(--gap));
}

.card-header
{
	font-weight: 600;
	width: calc(100% - 20px);
	height: 25%;
	padding: 5px 10px;
    font-size: 180%;
	display: flex;
	justify-content: initial;
	align-items: center;
	transition: 0.3s ease all;
}

.card-content-wrapper
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 75%;
	gap: var(--gap);
	transition: 0.3s ease all;
}

.card-1x1 .card-content-wrapper
{
	height: calc(var(--card-width) - 25%);
}
.card-2x1 .card-content-wrapper
{
	height: calc(var(--card-width) - 25%);
}
.card-1x2 .card-header
{
	height: 12.25%;
}
.card-1x2 .card-content-wrapper
{
	height: calc(var(--card-width) * 2 + var(--gap) - 12.25%);
}

.card-content
{
	flex: 1;
	height: 100%;
	display: flex;
    font-size: 160%;
	font-family: 'Geist', sans-serif;
	justify-content: center;
    flex-direction: column;
	align-items: center;
	transition: 0.3s ease all;
}


.switch
{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	transform: translateY(7px);
}

.switch input
{ 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider
{
	position: absolute;
	cursor: default;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #929aab;
	border-radius: 34px;
	transition: .4s;
}

.slider:before
{
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	border-radius: 50%;
	background-color: white;
	transition: .4s;
}

input:checked + .slider 
{
	background-color: #2196F3;
}

input:focus + .slider
{
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before
{
	transform: translateX(26px);
}

.blue
{
	color: #a2bffe;
}

.yellow
{
	color: #fff44f;
}

.red
{
	color: #ff2014;
}

.green
{
	color: #80ef80;
}

.orange
{
	color: #ffa447;
}

sub, sup
{
	font-size: 50%;
}

table
{
	border-collapse: collapse;
}

td
{
	padding: 0 5px;
}

td:nth-child(1)
{
	text-align: left;
}

.chart-modal
{
	display: block;
	visibility: hidden;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.chart-modal-content
{
	background-color: #f7f7f7;
	margin: auto;
	padding: 20px;
	border-radius: 4px;
	width: 80%;
}

.close
{
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus
{
	color: #393e46;
	text-decoration: none;
	cursor: pointer;
}

canvas
{
	width: 100%;
	height: 100%;
}

@media (max-width: 1500px)
{
	#lastupdated
	{
		font-size: 70%;
	}
	.card-header
	{
		font-size: 140%;
	}
	.card-content
	{
		font-size: 120%;
	}
}
@media (max-width: 1200px)
{
	#lastupdated
	{
		font-size: 60%;
	}
	.card-header
	{
		font-size: 110%;
	}
	.card-content
	{
		font-size: 100%;
	}
	.switch
	{
		transform: scale(0.7);
	}
}
@media (max-width: 1000px)
{
	.card-header
	{
		font-size: 110%;
	}
	.card-content
	{
		font-size: 95%;
	}
}

@media (max-width: 800px)
{
	.container
	{
		height: 100%;
	}
	#lastupdated
	{
		font-size: 50%;
	}
	.main
	{
		width: 100%;
	}
	.row
	{
		display: flex;
		flex-direction: column;
	}
	.card-1x1
	{
		width: calc((100vw / 2) - var(--gap));
		height: calc((100vw / 2) - var(--gap));
	}
	.card-2x1
	{
		width: calc((100vw) - var(--gap));
		height: calc((100vw / 2) - var(--gap));
	}
	.card-1x2
	{
		width: calc((100vw / 2) - var(--gap));
		height: calc((100vw) - var(--gap));
	}
	.card-header
	{
		font-size: 100%;
	}
	.card-content-wrapper
	{
		height: calc((100vw) - var(--gap) - 25%)
	}
	.card-1x1 .card-content-wrapper
	{
		height: calc((100vw) - 25%);
	}
	.card-2x1 .card-content-wrapper
	{
		height: calc((100vw) - 25%);
	}
	.card-1x2 .card-header
	{
		height: 7%;
	}
	.card-1x2 .card-content-wrapper
	{
		height: calc((100vw) - var(--gap) - 7%)
	}
	.card-content
	{
		font-size: 90%;
	}
	.switch
	{
		transform: scale(0.6);
	}
}

@keyframes alarm
{
	0%
	{
		background-color: #ff2014;
		color: #393e46;
	}
	50%
	{
		color: #ff2014;
		background-color: #393e46;
	}
	100%
	{
		background-color: #ff2014;
		color: #393e46;
	}
}