body
{
	font-family: 'Poppins', sans-serif;
	background: #11100f;
	color: #eeedf0;
	font-size: 14px;
}

.container
{
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
}

.website-header
{
	width: 100%;
	background: #1b1a19;
	border-radius: 15px;
	padding: 10px 15px;
	text-align: center;
}

.header-text-large
{
	font-size: 28px;
	font-weight: 700;
}

.origins-list-header-1
{
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}

.origins-list-header-2
{
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

.origins-list-description
{
	text-align: justify;
	font-size: 14px;
	margin-top: -10px;
}

.datetime
{
	width: 100%;
	background: #1b1a19;
	border-radius: 15px;
	padding: 10px 15px;
	text-align: center;
	margin-top: 10px;
	font-size: smaller;
}

.content-card
{
	background: #201f1e;
	width: 30%;
	border-radius: 15px;
	padding: 10px 10px 5px 10px;
	text-align: center;
	margin-top: 10px;
	font-size: 15px;
	float: left;
	color: #eeedf0;
	opacity: 0.85;
	cursor: default;
	transition: 0.15s ease-in-out;
}

.content-card:hover
{
	color: #0078d4;
	cursor: pointer;
}

.content-card-2
{
	background: #201f1e;
	width: 46.5%;
	border-radius: 15px;
	padding: 10px 10px 5px 10px;
	text-align: center;
	margin-top: 10px;
	font-size: 16px;
	float: left;
	color: #eeedf0;
	opacity: 0.85;
	cursor: default;
	transition: 0.15s ease-in-out;
}

.content-card-2:hover
{
	color: #0078d4;
	cursor: pointer;
}

.content-container-df0
{
	background: #201f1e;
	width: 96%;
	border-radius: 15px;
	padding: 10px 10px 5px 10px;
	text-align: justify;
	margin-top: 10px;
	font-size: 14px;
	float: left;
	color: #eeedf0;
	opacity: 0.85;
	cursor: default;
	transition: 0.15s ease-in-out;
}

.link
{
	color: #eeedf0;
	text-decoration: none;
	border-bottom: 1px dotted #eeedf0;
	transition: 0.15s ease-in-out;
}
.link:hover
{
	color: #0078d4;
	text-decoration: none;
	border-bottom: 0px dotted #0078d4;
}

.main-content
{
	width: 100%;
	background: #1b1a19;
	border-radius: 15px;
	padding: 10px 15px;
	text-align: justify;
	margin-top: 10px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.website-footer
{
	width: 100%;
	background: #1b1a19;
	border-radius: 15px;
	padding: 10px 15px;
	text-align: center;
	margin-top: 10px;
}

@media (max-width: 1180px) {
	.container
	{
		width: 90vw;
		font-size: 2vw;
	}
}
@media (max-width: 600px) {
	.container
	{
		width: 70vw;
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: #11100f; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
	background: #1b1a19; 
	opacity: 0.7;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #1b1a19; 
	opacity: 0.85;
}